footer#footer.footer.light-background
    .container
        .copyright.text-center= t('footer_template.copyright')
        .social-links.d-flex.justify-content-center
            a(href="https://www.facebook.com/dannyalfandi06", target="_blank")
                i.bi.bi-facebook
            a(href="https://www.instagram.com/dannyalfandi06", target="_blank")
                i.bi.bi-instagram
            a(href="https://www.linkedin.com/in/danny-alfandi-496374196", target="_blank")
                i.bi.bi-linkedin
            a.github(href="https://github.com/dannyalfandi", target="_blank")
                i.bi.bi-github
        .credits
            // All the links in the footer should remain intact.
            // You can delete the links only if you've purchased the pro version.
            // Licensing information: https://bootstrapmade.com/license/
            // Purchase the pro version with working PHP/AJAX contact form: [buy-url]
            |
            span= t('footer_template.designed')
            a(href="https://bootstrapmade.com/")= t('footer_template.bootstrap_made')
            |
            span= t('footer_template.distributed')
            a(href="https://themewagon.com/")
                |
                span= t('footer_template.theme_wagon')
                // Scroll Top
                a#scroll-top.scroll-top.d-flex.align-items-center.justify-content-center(href="#")
                    i.bi.bi-arrow-up-short
                // Preloader
                #preloader
                // Vendor JS Files
                script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")
                script(src="/vendor/php-email-form/validate.js")
                script(src="/vendor/aos/aos.js")
                script(src="/vendor/waypoints/noframework.waypoints.js")
                script(src="/vendor/purecounter/purecounter_vanilla.js")
                script(src="/vendor/swiper/swiper-bundle.min.js")
                script(src="/vendor/glightbox/js/glightbox.min.js")
                script(src="/vendor/imagesloaded/imagesloaded.pkgd.min.js")
                script(src="/vendor/isotope-layout/isotope.pkgd.min.js")
                // Main JS File
                script(src="/js/main.js")