header#header.header.d-flex.align-items-center.light-background.sticky-top
  .container-fluid.position-relative.d-flex.align-items-center
    // LEFT: logo
    a.logo.d-flex.align-items-center.me-auto.me-xl-0(href="/")
      h1.sitename Danny A

    // RIGHT GROUP: nav + globe
    .header-right.d-flex.align-items-center.flex-grow-1
      // Nav (center on desktop, right on mobile)
      nav#navmenu.navmenu.mx-lg-auto
        ul
          li
            if title == 'home'
              a.active(href="/") Home
            else
              a(href="/") Home
          li
            if title == 'about'
              a.active(href="/about") About
            else
              a(href="/about") About
          li
            if title == 'resume'
              a.active(href="/resume") Resume
            else
              a(href="/resume") Resume
          li
            if title == 'portfolio'
              a.active(href="/portfolio") Portfolio
            else
              a(href="/portfolio") Portfolio 
          li
            if title == 'contact'
              a.active(href="/contact") Contact
            else
              a(href="/contact") Contact
        // mobile hamburger
        i.mobile-nav-toggle.d-xl-none.bi.bi-list

      // Language dropdown (will stay right on desktop, and on mobile too)
    .dropdown.lang-switch.ms-3
        a#langDropdown.nav-link.p-0.d-inline-flex.align-items-center.gap-1(
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        )
          i.bi.bi-globe
          | #{(lng || 'en').toUpperCase()}
        ul.dropdown-menu.dropdown-menu-end(aria-labelledby="langDropdown")
          li: a.dropdown-item(href="/set-lang/en") EN
          li: a.dropdown-item(href="/set-lang/id") ID
          li: a.dropdown-item(href="/set-lang/ja") JA
