extends base

block append head

block content
    main.main
      // About Section
      section#about.about.section
        // Section Title
        .container.section-title(data-aos="fade-up")
          h2= t('about_page.about')
          p= t('about_page.content_about_1')
          br
          p= t('about_page.content_about_2')
          br
          p= t('about_page.content_about_3')
        // End Section Title
        .container(data-aos="fade-up", data-aos-delay="100")
          .row.gy-4.justify-content-center
            .col-lg-4
              img.img-fluid(src="/img/profile-image.jpg", alt="")
            .col-lg-8.content
              h2= t('about_page.role')
              p.fst-italic.py-3= t('about_page.bio')
              .row
                .col-lg-6
                  ul
                    li
                      i.bi.bi-chevron-right
                      strong= t('about_page.phone')
                      strong :
                      span +62 81333091683
                    li
                      i.bi.bi-chevron-right
                      strong= t('about_page.email')
                      strong :
                      span dannyalfandi@gmail.com
                    li
                      i.bi.bi-chevron-right
                      strong= t('about_page.freelance')
                      strong :
                      span= t('about_page.status_work')
                .col-lg-6
                  ul
                    li
                      i.bi.bi-chevron-right
                      strong= t('about_page.city')
                      strong :
                      span= t('about_page.location')
                    li
                      i.bi.bi-chevron-right
                      strong= t('about_page.degree')
                      strong :
                      span= t('about_page.status_degree')
      // /About Section
      // Skills Section
      section#skills.skills.section
        // Section Title
        .container.section-title(data-aos="fade-up")
          h2= t('about_page.skills')
          p= t('about_page.content_skills')
        // End Section Title
        .container(data-aos="fade-up", data-aos-delay="100")
          .row.skills-content.skills-animation
            .col-lg-6
              p PHP (Laravel)
              p Magento, Shopware
              p Node JS (Express JS)
              p Flutter (android)
            .col-lg-6
              p Database management (MySql and No Sql)
              p Docker
              p Github
              p API Integration
      // /Skills Section
      // Stats Section
      //- section#stats.stats.section
        // Section Title
        .container.section-title(data-aos="fade-up")
          h2 Facts
          p This is my project that has been handle
        // End Section Title
        .container(data-aos="fade-up", data-aos-delay="100")
          .row.gy-4
            //- .col-lg-3.col-md-6
            //-   .stats-item.text-center.w-100.h-100
            //-     span.purecounter(data-purecounter-start="0", data-purecounter-end="232", data-purecounter-duration="1")
            //-     p Clients
            // End Stats Item
            //- .col-lg-3.col-md-6
            //-   .stats-item.text-center.w-100.h-100
            //-     span.purecounter(data-purecounter-start="0", data-purecounter-end="9", data-purecounter-duration="1")
            //-     p Projects
            // End Stats Item
            //- .col-lg-3.col-md-6
            //-   .stats-item.text-center.w-100.h-100
            //-     span.purecounter(data-purecounter-start="0", data-purecounter-end="1453", data-purecounter-duration="1")
            //-     p Hours Of Support
            // End Stats Item
            //- .col-lg-3.col-md-6
            //-   .stats-item.text-center.w-100.h-100
            //-     span.purecounter(data-purecounter-start="0", data-purecounter-end="32", data-purecounter-duration="1")
            //-     p Workers
            // End Stats Item
      // /Stats Section
      // Testimonials Section
      //- section#testimonials.testimonials.section
        // Section Title
        .container.section-title(data-aos="fade-up")
          h2 Testimonials
          p Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit
        // End Section Title
        .container(data-aos="fade-up", data-aos-delay="100")
          .swiper.init-swiper
            script(type="application/json", class="swiper-config").
              {
              "loop": true,
              "speed": 600,
              "autoplay": {
              "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
              }
              }
            .swiper-wrapper
              .swiper-slide
                .testimonial-item
                  img.testimonial-img(src="assets/img/testimonials/testimonials-1.jpg", alt='')
                  h3 Saul Goodman
                  h4 Ceo &amp;amp; Founder
                  .stars
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                  p
                    i.bi.bi-quote.quote-icon-left
                    span Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    i.bi.bi-quote.quote-icon-right
              // End testimonial item
              .swiper-slide
                .testimonial-item
                  img.testimonial-img(src="assets/img/testimonials/testimonials-2.jpg", alt='')
                  h3 Sara Wilsson
                  h4 Designer
                  .stars
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                  p
                    i.bi.bi-quote.quote-icon-left
                    span Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    i.bi.bi-quote.quote-icon-right
              // End testimonial item
              .swiper-slide
                .testimonial-item
                  img.testimonial-img(src="assets/img/testimonials/testimonials-3.jpg", alt='')
                  h3 Jena Karlis
                  h4 Store Owner
                  .stars
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                  p
                    i.bi.bi-quote.quote-icon-left
                    span Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    i.bi.bi-quote.quote-icon-right
              // End testimonial item
              .swiper-slide
                .testimonial-item
                  img.testimonial-img(src="assets/img/testimonials/testimonials-4.jpg", alt='')
                  h3 Matt Brandon
                  h4 Freelancer
                  .stars
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                  p
                    i.bi.bi-quote.quote-icon-left
                    span Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    i.bi.bi-quote.quote-icon-right
              // End testimonial item
              .swiper-slide
                .testimonial-item
                  img.testimonial-img(src="assets/img/testimonials/testimonials-5.jpg", alt='')
                  h3 John Larson
                  h4 Entrepreneur
                  .stars
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                  p
                    i.bi.bi-quote.quote-icon-left
                    span Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    i.bi.bi-quote.quote-icon-right
              // End testimonial item
            .swiper-pagination
      // /Testimonials Section