extends base

block append head

block content
    main.main
        section#portfolio-details.portfolio-details.section
            .container.section-title(data-aos="fade-up")
                h2 Portfolio Details
                p 
            .container(data-aos="fade-up", data-aos-delay="100")
                .row.gy-4
                    .col-lg-8
                        .portfolio-details-slider.swiper.init-swiper
                            script(type="application/json", class="swiper-config").
                                {
                                    "loop": true,
                                    "speed": 600,
                                    "autoplay": {
                                    "delay": 5000
                                    },
                                    "slidesPerView": "auto",
                                    "pagination": {
                                    "el": ".swiper-pagination",
                                    "type": "bullets",
                                    "clickable": true
                                    },
                                    "navigation": {
                                        "nextEl": ".swiper-button-next",
                                        "prevEl": ".swiper-button-prev"
                                    }
                                }
                            .swiper-wrapper.align-items-center
                                each image in detailPorto.images
                                    .swiper-slide
                                        img(src='/img/portfolio/'+image)
                            .swiper-pagination
                            .swiper-button-prev
                            .swiper-button-next
                    .col-lg-4
                        .portfolio-info(data-aos="fade-up", data-aos-delay="200")
                            h3 Project information
                            ul
                                li
                                    strong Category
                                    | : #{detailPorto.category_project}
                                li
                                    strong Client
                                    | : #{detailPorto.project_from}
                                li
                                    strong Project date
                                    | : #{detailPorto.project_date}
                        .portfolio-description(data-aos="fade-up", data-aos-delay="300")
                            h2 #{detailPorto.project_name}
                            p
                                | #{detailPorto.description}
