extends base

block append head

block content
    main.main
        section#portfolio-details.portfolio-details.section
            .container.section-title(data-aos="fade-up")
                h2= t('detail_portfolio_page.portfolio_details')
                p 
            .container(data-aos="fade-up", data-aos-delay="100")
                .row.gy-4
                    .col-lg-8
                        if detailPorto.filter_type == "filter-mobile-app"
                            .portfolio-details-slider-mobile.swiper.init-swiper
                                script(type="application/json", class="swiper-config").
                                    {
                                        "loop": true,
                                        "speed": 600,
                                        "autoplay": {
                                        "delay": 5000
                                        },
                                        "slidesPerView": "auto",
                                        "pagination": {
                                        "el": ".swiper-pagination",
                                        "type": "bullets",
                                        "clickable": true
                                        },
                                        "navigation": {
                                            "nextEl": ".swiper-button-next",
                                            "prevEl": ".swiper-button-prev"
                                        }
                                    }
                                .swiper-wrapper.align-items-center
                                    each image in detailPorto.images
                                        .swiper-slide
                                            img(src='/img/portfolio/'+image)
                                .swiper-pagination
                                .swiper-button-prev
                                .swiper-button-next
                        else
                            .portfolio-details-slider-web.swiper.init-swiper
                                script(type="application/json", class="swiper-config").
                                    {
                                        "loop": true,
                                        "speed": 600,
                                        "autoplay": {
                                        "delay": 5000
                                        },
                                        "slidesPerView": "auto",
                                        "pagination": {
                                        "el": ".swiper-pagination",
                                        "type": "bullets",
                                        "clickable": true
                                        },
                                        "navigation": {
                                            "nextEl": ".swiper-button-next",
                                            "prevEl": ".swiper-button-prev"
                                        }
                                    }
                                .swiper-wrapper.align-items-center
                                    each image in detailPorto.images
                                        .swiper-slide
                                            img(src='/img/portfolio/'+image, style="object-fit:contain; width:100%; height:100%; max-height:800px;")
                                .swiper-pagination
                                .swiper-button-prev
                                .swiper-button-next
                    .col-lg-4
                        .portfolio-info(data-aos="fade-up", data-aos-delay="200")
                            h3= t('detail_portfolio_page.project_information')
                            ul
                                li
                                    strong= t('detail_portfolio_page.category')
                                    | :
                                    span= t('db:portfolio.' + detailPorto.slug + '.category_project', { defaultValue: detailPorto.category_project })
                                li
                                    strong= t('detail_portfolio_page.client')
                                    | : 
                                    span= t('db:portfolio.' + detailPorto.slug + '.project_from', { defaultValue: detailPorto.project_from })
                                li
                                    strong= t('detail_portfolio_page.project_date')
                                    | :
                                    span= t('db:portfolio.' + detailPorto.slug + '.project_date', { defaultValue: detailPorto.project_date })
                        .portfolio-description(data-aos="fade-up", data-aos-delay="300")
                            h2= t('db:portfolio.' + detailPorto.slug + '.project_name', { defaultValue: detailPorto.project_name })
                            .portfolio-tabs(data-aos="fade-up", data-aos-delay="300")
                                ul.nav.nav-tabs(role="tablist")
                                    li.nav-item
                                        a.nav-link.active(href="#description", data-bs-toggle="tab", role="tab")= t('detail_portfolio_page.description')
                                    li.nav-item
                                        a.nav-link(href="#specification", data-bs-toggle="tab", role="tab")= t('detail_portfolio_page.specification')
                                
                                .tab-content.mt-3
                                    #description.tab-pane.fade.show.active(role="tabpanel")
                                        p(style="text-align: justify;")
                                            span= t('db:portfolio.' + detailPorto.slug + '.description', { defaultValue: detailPorto.description })
                                    #specification.tab-pane.fade(role="tabpanel")
                                        ul
                                            each specification, i in detailPorto.specifications
                                                li
                                                    strong Feature #{i + 1} 
                                                    |  : 
                                                    span= t('db:portfolio.' + detailPorto.slug + '.specifications.' + i, {defaultValue: detailPorto.specifications[i]})
