extends base

block append head

block content
    main.main
        section#resume.resume.section
            .container.section-title(data-aos="fade-up")
                h2= t('resume_page.resume')
                p= t('resume_page.content_resume')
            .container
                .row
                    .col-lg-6(data-aos="fade-up", data-aos-delay="100")
                        h3.resume-title= t('resume_page.education')
                        .resume-item
                            h4= t('resume_page.system')
                            h5= t('resume_page.year')
                            p
                                em= t('resume_page.university') + ', ' + t('location.surabaya') + ', ' + t('location.indonesia')
                    .col-lg-6(data-aos="fade-up", data-aos-delay="200")
                        h3.resume-title= t('resume_page.prof_experience')
                        .resume-item
                            h4= `${t('resume_page.fullstack_dev', {defaultValue:'Full-Stack Developer'})} (PT Inaugurasi Pelangi Nusantara)`
                            h5= `08/2023 - 08/2024 | ${t('resume_page.software_house', {defaultValue:'Software House'})}`
                            p
                                em= t('location.surabaya') + ', ' + t('location.indonesia') + " (" + t('location.remote') + ")"
                            ul
                                each line in contentWork4
                                    li= line
                        .resume-item
                            h4= `${t('resume_page.mobile_app_freelance', {defaultValue:'Mobile App Freelancer'})} (Projects.co.id)`
                            h5= `09/2021 - 01/2022 | ${t('resume_page.software_house', {defaultValue:'Software House'})}`
                            p
                                em= t('location.indonesia') + " (" + t('location.remote') + ")"
                            ul
                                each line in contentWork3
                                    li= line
                        .resume-item
                            h4= `${t('resume_page.software_backend_dev', {defaultValue:'Software Backend Developer'})} (ICUBE by Sirclo)`
                            h5= `06/2021 - 06/2023 | ${t('resume_page.software_house', {defaultValue:'Software House'})}`
                            p
                                em=`${t('location.tangerang')}, ${t('location.jakarta')}, ${t('location.indonesia')} (${t('location.remote')})`
                            ul
                                each line in contentWork2
                                    li= line
                        .resume-item
                            h4= `${t('resume_page.software_engineer', {defaultValue:'Software Engineer'})} (Hiro Solutions)`
                            h5= `03/2021 - 06/2021 | ${t('resume_page.software_house', {defaultValue:'Software House'})}`
                            p
                                em=`${t('location.surabaya')}, ${t('location.indonesia')}`
                            ul
                                each line in contentWork1
                                    li= line